<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ titulo }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to FlaskAPP Games!</h1>
        <p class="lead">
          CRUD of Games
        </p>
        <hr class="my-4" />
        <p>
          Clique aqui embaixo para começar
        </p>
        <p class="lead">            
          <a class="btn btn-primary btn-lg" href="{{ url_for('jogos.index') }}" role="button">Jogos</a>
        </p>
      </div>
    </div>
  </body>
</html>